build --cxxopt='-std=c++20'
build --host_cxxopt='-std=c++20'
build --cxxopt="-stdlib=libc++"
build --cxxopt="-fexperimental-library"
build --linkopt="-stdlib=libc++"
common --enable_platform_specific_config
build:linux --sandbox_add_mount_pair=/tmp
build:macos --sandbox_add_mount_pair=/var/tmp
build:windows --sandbox_add_mount_pair=C:\Temp